riddler-back-office/node-red/tabs/10494fbd.03df.json
[
    {
        "type": "tab",
        "id": "10494fbd.03df",
        "label": "Hacking"
    },
    {
        "id": "30359933.401966",
        "type": "ui_tab",
        "z": "10494fbd.03df",
        "name": "Hacking",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "c1553ffe.fdc1f",
        "type": "ui_text",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Hacking Attempt Request",
        "group": "Hacking Initiation",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 715,
        "y": 25,
        "wires": []
    },
    {
        "id": "56bb0771.1a29b8",
        "type": "ui_text",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Ship ID",
        "group": "Hacking Initiation",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 661,
        "y": 68,
        "wires": []
    },
    {
        "id": "be2ef40.1a8c61",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Initialize Hacking Attempt",
        "payload": "Initialize Hacking Attempt",
        "topic": "",
        "group": "Hacking Initiation",
        "order": "3",
        "x": 171,
        "y": 360,
        "wires": [
            [
                "c6930a7d.f3c258"
            ]
        ]
    },
    {
        "id": "657232da.bc874c",
        "type": "ui_toast",
        "z": "10494fbd.03df",
        "name": "New Attempt",
        "x": 1021,
        "y": 180,
        "wires": []
    },
    {
        "id": "85a5bb2.a1cb548",
        "type": "ui_text",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Hacking Attempt Status",
        "group": "Hacking Progress",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 707,
        "y": 111,
        "wires": []
    },
    {
        "id": "34c9a9a6.19b456",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Success Confirmation",
        "payload": "Success Confirmation",
        "topic": "",
        "group": "Hacking Progress",
        "order": 1,
        "x": 159,
        "y": 512,
        "wires": [
            [
                "b134437d.713f5"
            ]
        ]
    },
    {
        "id": "eead9503.0282f8",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_init integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 628,
        "y": 360,
        "wires": [
            [
                "442722a1.84761c"
            ]
        ]
    },
    {
        "id": "e523b2c2.51fa4",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_attempt integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 641,
        "y": 511,
        "wires": [
            [
                "442722a1.84761c"
            ]
        ]
    },
    {
        "id": "d22eef21.fff22",
        "type": "function",
        "z": "10494fbd.03df",
        "name": "configure",
        "func": "    global.get('riddlesEvents').on('added-hacking', function(baseUrl) {\n        flow.set('state_url', baseUrl + '/data');\n        flow.set('set_start', baseUrl + '/set_start');\n        flow.set('set_deny', baseUrl + '/set_deny');\n        flow.set('attempt_succeed', baseUrl + '/attempt_succeed');\n        flow.set('attempt_partial_succeed', baseUrl + '/attempt_partial_succeed');\n        flow.set('attempt_fail', baseUrl + '/attempt_fail');\n        flow.set('configured', true);\n        node.send({payload:baseUrl});\n    });",
        "outputs": 1,
        "noerr": 0,
        "x": 138,
        "y": 84,
        "wires": [
            []
        ]
    },
    {
        "id": "e34639da.37e5d8",
        "type": "inject",
        "z": "10494fbd.03df",
        "name": "",
        "topic": "config",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 135,
        "y": 42,
        "wires": [
            [
                "d22eef21.fff22"
            ]
        ]
    },
    {
        "id": "52b2269e.471a28",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "get state",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "x": 135,
        "y": 174,
        "wires": [
            [
                "442722a1.84761c"
            ]
        ]
    },
    {
        "id": "60d887ef.e21868",
        "type": "change",
        "z": "10494fbd.03df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "state_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 145,
        "y": 204,
        "wires": [
            [
                "52b2269e.471a28"
            ]
        ]
    },
    {
        "id": "d653ec90.4e7f2",
        "type": "switch",
        "z": "10494fbd.03df",
        "name": "if-configured",
        "property": "configured",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 145,
        "y": 251,
        "wires": [
            [
                "60d887ef.e21868"
            ]
        ]
    },
    {
        "id": "8ad69837.8c4ae8",
        "type": "inject",
        "z": "10494fbd.03df",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 141,
        "y": 301,
        "wires": [
            [
                "d653ec90.4e7f2"
            ]
        ]
    },
    {
        "id": "442722a1.84761c",
        "type": "function",
        "z": "10494fbd.03df",
        "name": "demux state",
        "func": "\nreturn [\n    {payload:msg.payload.request_parameters},\n    {payload:msg.payload.ship_id},\n    {payload:msg.payload.status},\n    {payload:msg.payload.functional}\n    ];",
        "outputs": "4",
        "noerr": 0,
        "x": 460,
        "y": 133,
        "wires": [
            [
                "c1553ffe.fdc1f"
            ],
            [
                "56bb0771.1a29b8"
            ],
            [
                "85a5bb2.a1cb548",
                "111cbd6d.a59d13"
            ],
            []
        ]
    },
    {
        "id": "36a7a1d6.6d664e",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Fail Attempt",
        "payload": "Fail Attempt",
        "topic": "",
        "group": "Hacking Progress",
        "order": 1,
        "x": 130,
        "y": 558,
        "wires": [
            [
                "a2c125ea.658798"
            ]
        ]
    },
    {
        "id": "112efa5.c865406",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_attempt integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 637,
        "y": 560,
        "wires": [
            [
                "442722a1.84761c"
            ]
        ]
    },
    {
        "id": "4c4605ba.0e12dc",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Deny Hacking Attempt",
        "payload": "Deny Hacking Attempt",
        "topic": "",
        "group": "Hacking Initiation",
        "order": "4",
        "x": 159,
        "y": 451,
        "wires": [
            [
                "b4b3c388.969f"
            ]
        ]
    },
    {
        "id": "13038935.e5c6b7",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_attempt integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 638,
        "y": 452,
        "wires": [
            [
                "442722a1.84761c"
            ]
        ]
    },
    {
        "id": "c6930a7d.f3c258",
        "type": "change",
        "z": "10494fbd.03df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "set_start",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 405,
        "y": 360,
        "wires": [
            [
                "eead9503.0282f8"
            ]
        ]
    },
    {
        "id": "b4b3c388.969f",
        "type": "change",
        "z": "10494fbd.03df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "set_deny",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 401,
        "y": 452,
        "wires": [
            [
                "13038935.e5c6b7"
            ]
        ]
    },
    {
        "id": "b134437d.713f5",
        "type": "change",
        "z": "10494fbd.03df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "attempt_succeed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 398,
        "y": 511,
        "wires": [
            [
                "e523b2c2.51fa4"
            ]
        ]
    },
    {
        "id": "a2c125ea.658798",
        "type": "change",
        "z": "10494fbd.03df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "attempt_fail",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 394,
        "y": 558,
        "wires": [
            [
                "112efa5.c865406"
            ]
        ]
    },
    {
        "id": "40c8ef01.80c3",
        "type": "switch",
        "z": "10494fbd.03df",
        "name": "Status Notification",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hacking_false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hacking_ready_start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hacking_progress",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hacking_wait_confirm",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 815,
        "y": 227,
        "wires": [
            [],
            [
                "9a568c6f.2ccf5",
                "657232da.bc874c"
            ],
            [
                "93d5c010.e0e5d"
            ],
            [
                "d23a5495.f7e958"
            ]
        ]
    },
    {
        "id": "111cbd6d.a59d13",
        "type": "rbe",
        "z": "10494fbd.03df",
        "name": "Check change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 673,
        "y": 155,
        "wires": [
            [
                "40c8ef01.80c3"
            ]
        ]
    },
    {
        "id": "9a568c6f.2ccf5",
        "type": "notify",
        "z": "10494fbd.03df",
        "title": "hacking ready start",
        "name": "Hacking waiting to start",
        "x": 1063,
        "y": 219,
        "wires": []
    },
    {
        "id": "93d5c010.e0e5d",
        "type": "notify",
        "z": "10494fbd.03df",
        "title": "Hacking in Progress",
        "name": "Hacking in Progress",
        "x": 1053,
        "y": 258,
        "wires": []
    },
    {
        "id": "d23a5495.f7e958",
        "type": "notify",
        "z": "10494fbd.03df",
        "title": "Hacking waiting for confirmation",
        "name": "Hacking waiting for confirmation",
        "x": 1087,
        "y": 297,
        "wires": []
    },
    {
        "id": "84ddfc99.4e7df",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Partial Success",
        "payload": "Partial Success",
        "topic": "",
        "group": "Hacking Progress",
        "order": 1,
        "x": 141,
        "y": 605,
        "wires": [
            [
                "fe79c7c7.55b428"
            ]
        ]
    },
    {
        "id": "fe79c7c7.55b428",
        "type": "change",
        "z": "10494fbd.03df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "attempt_partial_succeed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 604,
        "wires": [
            [
                "ec92e51f.a8ec58"
            ]
        ]
    },
    {
        "id": "ec92e51f.a8ec58",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_attempt integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 643,
        "y": 604,
        "wires": [
            []
        ]
    },
    {
        "id": "433f51f3.17a12",
        "type": "ui_numeric",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Set Difficulty (1 - 3)",
        "topic": "",
        "group": "Hacking Initiation",
        "order": "2",
        "format": "{{value}}",
        "min": "1",
        "max": "3",
        "x": 188,
        "y": 401,
        "wires": [
            []
        ]
    }
]