riddler-back-office/node-red/tabs/10494fbd.03df.json
[
    {
        "type": "tab",
        "id": "10494fbd.03df",
        "label": "Hacking"
    },
    {
        "id": "30359933.401966",
        "type": "ui_tab",
        "z": "10494fbd.03df",
        "name": "Hacking",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "c1553ffe.fdc1f",
        "type": "ui_text",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Hacking Attempt Request",
        "group": "Hacking Initiation",
        "order": 1,
        "format": "{{msg.payload.initialization}}",
        "x": 568,
        "y": 65,
        "wires": []
    },
    {
        "id": "56bb0771.1a29b8",
        "type": "ui_text",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Ship ID",
        "group": "Hacking Initiation",
        "order": 1,
        "format": "{{msg.payload.ship_id}}",
        "x": 523,
        "y": 124,
        "wires": []
    },
    {
        "id": "be2ef40.1a8c61",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Hacking Attempt Initiation",
        "payload": "Attempt Initiation",
        "topic": "",
        "group": "Hacking Initiation",
        "order": 1,
        "x": 386,
        "y": 372,
        "wires": [
            [
                "cfedefee.a98f6",
                "eead9503.0282f8"
            ]
        ]
    },
    {
        "id": "cfedefee.a98f6",
        "type": "notify",
        "z": "10494fbd.03df",
        "title": "Hacking Attempt Notification",
        "name": "Hacking Attempt Notification",
        "x": 647.5,
        "y": 374,
        "wires": []
    },
    {
        "id": "1a435d27.64f493",
        "type": "rbe",
        "z": "10494fbd.03df",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 415,
        "y": 220,
        "wires": [
            [
                "657232da.bc874c"
            ]
        ]
    },
    {
        "id": "657232da.bc874c",
        "type": "ui_toast",
        "z": "10494fbd.03df",
        "name": "New Attempt",
        "x": 599,
        "y": 232,
        "wires": []
    },
    {
        "id": "48f492.eedc2b7",
        "type": "ui_gauge",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Progress",
        "group": "Hacking Progress",
        "order": 1,
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "x": 177,
        "y": 402,
        "wires": []
    },
    {
        "id": "85a5bb2.a1cb548",
        "type": "ui_text",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Hacking Attempt Status",
        "group": "Hacking Progress",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 572,
        "y": 180,
        "wires": []
    },
    {
        "id": "34c9a9a6.19b456",
        "type": "ui_button",
        "z": "10494fbd.03df",
        "tab": "30359933.401966",
        "name": "Success Confirmation",
        "payload": "Attempt Confirmation",
        "topic": "",
        "group": "Hacking Progress",
        "order": 1,
        "x": 385,
        "y": 425,
        "wires": [
            [
                "4a44b22b.376e3c",
                "e523b2c2.51fa4"
            ]
        ]
    },
    {
        "id": "4a44b22b.376e3c",
        "type": "notify",
        "z": "10494fbd.03df",
        "title": "Hacking Attempt Notification",
        "name": "Hacking Attempt Notification",
        "x": 647.5,
        "y": 426,
        "wires": []
    },
    {
        "id": "3e19548e.b26dfc",
        "type": "inject",
        "z": "10494fbd.03df",
        "name": "tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 99,
        "y": 64,
        "wires": [
            []
        ]
    },
    {
        "id": "ad040915.f65668",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(Hacking_get_url)",
        "x": 301,
        "y": 137,
        "wires": [
            [
                "56bb0771.1a29b8",
                "c1553ffe.fdc1f",
                "1a435d27.64f493"
            ]
        ]
    },
    {
        "id": "eead9503.0282f8",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_init integrated",
        "method": "POST",
        "ret": "txt",
        "url": "$hacking_set_approve_init_url)",
        "x": 649,
        "y": 325,
        "wires": [
            []
        ]
    },
    {
        "id": "e523b2c2.51fa4",
        "type": "http request",
        "z": "10494fbd.03df",
        "name": "set approve_attempt integrated",
        "method": "POST",
        "ret": "txt",
        "url": "$hacking_set_approve_attempt_url)",
        "x": 656,
        "y": 474,
        "wires": [
            []
        ]
    }
]