riddler-back-office/node-red/tabs/190bfc09.cc66e4.json
[
    {
        "type": "tab",
        "id": "190bfc09.cc66e4",
        "label": "Riddles"
    },
    {
        "id": "3e4202f7.be700e",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "0",
        "x": 248.5,
        "y": 207,
        "wires": [
            []
        ]
    },
    {
        "id": "de9ad33.f83493",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 102.5,
        "y": 206,
        "wires": [
            [
                "3e4202f7.be700e"
            ]
        ]
    },
    {
        "id": "e37a0647.d960b8",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "32",
        "x": 248,
        "y": 268,
        "wires": [
            []
        ]
    },
    {
        "id": "98341613.616ee8",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "32",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 102,
        "y": 267,
        "wires": [
            [
                "e37a0647.d960b8"
            ]
        ]
    },
    {
        "id": "8eab719d.684cb",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "64",
        "x": 245,
        "y": 331,
        "wires": [
            []
        ]
    },
    {
        "id": "c48013f.24197f",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "64",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 99,
        "y": 330,
        "wires": [
            [
                "8eab719d.684cb"
            ]
        ]
    },
    {
        "id": "d260771e.22cd58",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "95",
        "x": 249,
        "y": 394,
        "wires": [
            []
        ]
    },
    {
        "id": "a1d7de7b.b4a5c",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "95",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 103,
        "y": 393,
        "wires": [
            [
                "d260771e.22cd58"
            ]
        ]
    },
    {
        "id": "7a737a88.29d004",
        "type": "ui_template",
        "z": "190bfc09.cc66e4",
        "tab": "de243966.edb1a8",
        "name": "style override",
        "group": "",
        "order": 1,
        "format": "<style>\n.md-title {\n  display: none;\n}   \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 120.5,
        "y": 37,
        "wires": [
            []
        ]
    },
    {
        "id": "a35b4d60.290cf",
        "type": "subflow:ab5df3e3.53db5",
        "z": "190bfc09.cc66e4",
        "name": "164",
        "x": 246.5,
        "y": 469,
        "wires": [
            []
        ]
    },
    {
        "id": "e847b7da.528f58",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "164",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 108.5,
        "y": 469,
        "wires": [
            [
                "a35b4d60.290cf"
            ]
        ]
    },
    {
        "id": "20eae5f6.2ec69a",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "230",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 99,
        "y": 545,
        "wires": [
            [
                "bacc2bc6.d74dc8"
            ]
        ]
    },
    {
        "id": "bacc2bc6.d74dc8",
        "type": "subflow:ab5df3e3.53db5",
        "z": "190bfc09.cc66e4",
        "name": "230",
        "x": 244,
        "y": 545,
        "wires": [
            []
        ]
    },
    {
        "id": "b0abf06b.9d73b",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "262",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 97,
        "y": 606,
        "wires": [
            [
                "d4792ff4.6027d"
            ]
        ]
    },
    {
        "id": "d4792ff4.6027d",
        "type": "subflow:ab5df3e3.53db5",
        "z": "190bfc09.cc66e4",
        "name": "262",
        "x": 242,
        "y": 606,
        "wires": [
            []
        ]
    },
    {
        "id": "5c5009de.d89768",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "295",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 97,
        "y": 672,
        "wires": [
            [
                "8704f244.db857"
            ]
        ]
    },
    {
        "id": "8704f244.db857",
        "type": "subflow:ab5df3e3.53db5",
        "z": "190bfc09.cc66e4",
        "name": "295",
        "x": 242,
        "y": 672,
        "wires": [
            []
        ]
    },
    {
        "id": "185db0ee.19740f",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "326",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 98,
        "y": 742,
        "wires": [
            [
                "ad8a47aa.5fade8"
            ]
        ]
    },
    {
        "id": "ad8a47aa.5fade8",
        "type": "subflow:ab5df3e3.53db5",
        "z": "190bfc09.cc66e4",
        "name": "326",
        "x": 243,
        "y": 742,
        "wires": [
            []
        ]
    }
]