riddler-back-office/node-red/tabs/190bfc09.cc66e4.json
[
    {
        "type": "tab",
        "id": "190bfc09.cc66e4",
        "label": "Riddles"
    },
    {
        "id": "3e4202f7.be700e",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "0",
        "x": 248.5,
        "y": 207,
        "wires": [
            []
        ]
    },
    {
        "id": "de9ad33.f83493",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 102.5,
        "y": 206,
        "wires": [
            [
                "3e4202f7.be700e"
            ]
        ]
    },
    {
        "id": "e37a0647.d960b8",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "32",
        "x": 248,
        "y": 268,
        "wires": [
            []
        ]
    },
    {
        "id": "98341613.616ee8",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "32",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 102,
        "y": 267,
        "wires": [
            [
                "e37a0647.d960b8"
            ]
        ]
    },
    {
        "id": "8eab719d.684cb",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "64",
        "x": 245,
        "y": 331,
        "wires": [
            []
        ]
    },
    {
        "id": "c48013f.24197f",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "64",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 99,
        "y": 330,
        "wires": [
            [
                "8eab719d.684cb"
            ]
        ]
    },
    {
        "id": "d260771e.22cd58",
        "type": "subflow:d65cca20.1c56e8",
        "z": "190bfc09.cc66e4",
        "name": "95",
        "x": 249,
        "y": 394,
        "wires": [
            []
        ]
    },
    {
        "id": "a1d7de7b.b4a5c",
        "type": "inject",
        "z": "190bfc09.cc66e4",
        "name": "",
        "topic": "",
        "payload": "95",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 103,
        "y": 393,
        "wires": [
            [
                "d260771e.22cd58"
            ]
        ]
    },
    {
        "id": "7a737a88.29d004",
        "type": "ui_template",
        "z": "190bfc09.cc66e4",
        "tab": "de243966.edb1a8",
        "name": "style override",
        "group": "",
        "order": 1,
        "format": "<style>\n.md-title {\n  display: none;\n}   \n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 120.5,
        "y": 37,
        "wires": [
            []
        ]
    }
]