riddler-back-office/node-red/tabs/8a0884d3.9de888.json
[
  {
    "id": "3f6201c7.f2f2fe",
    "type": "ui_tab",
    "z": "8a0884d3.9de888",
    "name": "Riddle 3",
    "icon": "dashboard",
    "order": "1"
  },
  {
    "id": "f64749dc.f7c568",
    "type": "inject",
    "z": "8a0884d3.9de888",
    "name": "tick",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 112,
    "y": 103,
    "wires": [
      [
        "f33ab4fd.8d3f68"
      ]
    ]
  },
  {
    "id": "f33ab4fd.8d3f68",
    "type": "http request",
    "z": "8a0884d3.9de888",
    "name": "get data from integration",
    "method": "GET",
    "ret": "obj",
    "url": "$(riddle3_get_url)",
    "x": 258,
    "y": 222,
    "wires": [
      [
        "8805ad01.2009c",
        "3ba3135.ca634ec",
        "d2d9c2f2.6c2b5",
        "c04f4d51.85d13"
      ]
    ]
  },
  {
    "id": "3ba3135.ca634ec",
    "type": "debug",
    "z": "8a0884d3.9de888",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 496,
    "y": 79,
    "wires": []
  },
  {
    "id": "8805ad01.2009c",
    "type": "contrib-json",
    "z": "8a0884d3.9de888",
    "engine": "JSONSelect",
    "command": "jq",
    "expr": ":root > .status",
    "complete": "property",
    "prop": "payload",
    "name": "",
    "x": 540,
    "y": 155,
    "wires": [
      [
        "ea2e635b.da5e1"
      ]
    ]
  },
  {
    "id": "d2d9c2f2.6c2b5",
    "type": "contrib-json",
    "z": "8a0884d3.9de888",
    "engine": "JSONSelect",
    "command": "jq",
    "expr": ":root > .good_led",
    "complete": "property",
    "prop": "payload",
    "name": "",
    "x": 532,
    "y": 231,
    "wires": [
      [
        "a9f92cbf.cc5b8"
      ]
    ]
  },
  {
    "id": "c04f4d51.85d13",
    "type": "contrib-json",
    "z": "8a0884d3.9de888",
    "engine": "JSONSelect",
    "command": "jq",
    "expr": ":root > .current_led",
    "complete": "property",
    "prop": "payload",
    "name": "",
    "x": 537,
    "y": 305,
    "wires": [
      [
        "bb7ec0f2.02225"
      ]
    ]
  },
  {
    "id": "7155e588.86b95c",
    "type": "ui_button",
    "z": "8a0884d3.9de888",
    "tab": "3f6201c7.f2f2fe",
    "name": "Start Riddle",
    "payload": "",
    "topic": "",
    "group": "חידה 3",
    "order": 1,
    "x": 115,
    "y": 392,
    "wires": [
      [
        "91780020.0f81a"
      ]
    ]
  },
  {
    "id": "91780020.0f81a",
    "type": "http request",
    "z": "8a0884d3.9de888",
    "name": "set riddle_status: Start Riddle",
    "method": "POST",
    "ret": "txt",
    "url": "$(riddle3_start_riddle)",
    "x": 400,
    "y": 392,
    "wires": [
      []
    ]
  },
  {
    "id": "62964138.7f428",
    "type": "http request",
    "z": "8a0884d3.9de888",
    "name": "set riddle_status: Fix Riddle",
    "method": "POST",
    "ret": "txt",
    "url": "$(riddle3_fix_riddle)",
    "x": 389,
    "y": 457,
    "wires": [
      []
    ]
  },
  {
    "id": "c48ebd0b.645d6",
    "type": "ui_button",
    "z": "8a0884d3.9de888",
    "tab": "3f6201c7.f2f2fe",
    "name": "Fix Riddle Manually",
    "payload": "",
    "topic": "",
    "group": "חידה 3",
    "order": 1,
    "x": 133,
    "y": 457,
    "wires": [
      [
        "62964138.7f428"
      ]
    ]
  },
  {
    "id": "bb7ec0f2.02225",
    "type": "ui_text",
    "z": "8a0884d3.9de888",
    "tab": "3f6201c7.f2f2fe",
    "name": "Current LED",
    "group": "חידה 3",
    "order": 1,
    "format": "{{msg.payload}}",
    "x": 766,
    "y": 307,
    "wires": []
  },
  {
    "id": "ea2e635b.da5e1",
    "type": "ui_text",
    "z": "8a0884d3.9de888",
    "tab": "3f6201c7.f2f2fe",
    "name": "Status",
    "group": "חידה 3",
    "order": 1,
    "format": "{{msg.payload}}",
    "x": 725,
    "y": 91,
    "wires": []
  },
  {
    "id": "a9f92cbf.cc5b8",
    "type": "ui_text",
    "z": "8a0884d3.9de888",
    "tab": "3f6201c7.f2f2fe",
    "name": "Good LED",
    "group": "חידה 3",
    "order": 1,
    "format": "{{msg.payload}}",
    "x": 745,
    "y": 187,
    "wires": []
  }
]