riddler-back-office/node-red/tabs/8d01c84a.b2b6f8.json
[
    {
        "id": "8d01c84a.b2b6f8",
        "type": "subflow",
        "name": "Riddle 1",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "349ca57b.aaff7a"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "5924d25f.6742ac",
        "type": "ui_numeric",
        "z": "8d01c84a.b2b6f8",
        "tab": "de243966.edb1a8",
        "name": "timeout_value",
        "topic": "",
        "group": "חידה 1",
        "order": "10",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "x": 618.5,
        "y": 126,
        "wires": [
            [
                "dfd04df5.5ebaa",
                "464d3c82.c8ec14"
            ]
        ]
    },
    {
        "id": "37a3c7e8.9dc178",
        "type": "ui_numeric",
        "z": "8d01c84a.b2b6f8",
        "tab": "de243966.edb1a8",
        "name": "time_since_press",
        "topic": "",
        "group": "חידה 1",
        "order": "20",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "x": 618,
        "y": 212,
        "wires": [
            [
                "10a5a3b2.386edc"
            ]
        ]
    },
    {
        "id": "10a5a3b2.386edc",
        "type": "rbe",
        "z": "8d01c84a.b2b6f8",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 844.5,
        "y": 209,
        "wires": [
            [
                "90023c43.6b1de"
            ]
        ]
    },
    {
        "id": "dfd04df5.5ebaa",
        "type": "rbe",
        "z": "8d01c84a.b2b6f8",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 838,
        "y": 124,
        "wires": [
            [
                "7bfdb0d8.f3341"
            ]
        ]
    },
    {
        "id": "b317c97d.ab3da8",
        "type": "contrib-json",
        "z": "8d01c84a.b2b6f8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .timeout_value",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 385.5,
        "y": 151,
        "wires": [
            [
                "5924d25f.6742ac"
            ]
        ]
    },
    {
        "id": "cd808c95.c3f81",
        "type": "contrib-json",
        "z": "8d01c84a.b2b6f8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .time_since_press",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 392,
        "y": 243,
        "wires": [
            [
                "37a3c7e8.9dc178"
            ]
        ]
    },
    {
        "id": "349ca57b.aaff7a",
        "type": "http request",
        "z": "8d01c84a.b2b6f8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle1_get_url)",
        "x": 145,
        "y": 197,
        "wires": [
            [
                "cd808c95.c3f81",
                "b317c97d.ab3da8"
            ]
        ]
    },
    {
        "id": "7bfdb0d8.f3341",
        "type": "http request",
        "z": "8d01c84a.b2b6f8",
        "name": "set timeout_value integrated",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle1_set_timeout_value_url)",
        "x": 1126,
        "y": 112,
        "wires": [
            []
        ]
    },
    {
        "id": "90023c43.6b1de",
        "type": "http request",
        "z": "8d01c84a.b2b6f8",
        "name": "set time_since_press integrated",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle1_set_time_since_press_url)",
        "x": 1119,
        "y": 208,
        "wires": [
            []
        ]
    },
    {
        "id": "a8b95b31.8889a8",
        "type": "comment",
        "z": "8d01c84a.b2b6f8",
        "name": "Riddle 1: timeout button",
        "info": "",
        "x": 638.5,
        "y": 40,
        "wires": []
    },
    {
        "id": "c34c9a43.26dfe8",
        "type": "ui_button",
        "z": "8d01c84a.b2b6f8",
        "tab": "de243966.edb1a8",
        "name": "Reset Timer",
        "payload": "0",
        "topic": "",
        "group": "חידה 1",
        "order": "30",
        "x": 618.5,
        "y": 288,
        "wires": [
            [
                "90023c43.6b1de"
            ]
        ]
    },
    {
        "id": "70bf8fa7.c491e",
        "type": "inject",
        "z": "8d01c84a.b2b6f8",
        "name": "",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 364.5,
        "y": 54,
        "wires": [
            [
                "5924d25f.6742ac"
            ]
        ]
    },
    {
        "id": "464d3c82.c8ec14",
        "type": "debug",
        "z": "8d01c84a.b2b6f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 875.5,
        "y": 53,
        "wires": []
    }
]