riddler-back-office/node-red/tabs/8d01c84a.b2b6f8.json
[
    {
        "id": "8d01c84a.b2b6f8",
        "type": "subflow",
        "name": "Riddle 1",
        "info": "",
        "in": [
            {
                "x": 51,
                "y": 84,
                "wires": [
                    {
                        "id": "25e84c64.935304"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 455,
                "y": 69,
                "wires": [
                    {
                        "id": "693d799b.940e58",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "5924d25f.6742ac",
        "type": "ui_numeric",
        "z": "8d01c84a.b2b6f8",
        "tab": "de243966.edb1a8",
        "name": "timeout_value",
        "topic": "",
        "group": "חידה 1",
        "order": "10",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "x": 758.5,
        "y": 133,
        "wires": [
            [
                "dfd04df5.5ebaa"
            ]
        ]
    },
    {
        "id": "37a3c7e8.9dc178",
        "type": "ui_numeric",
        "z": "8d01c84a.b2b6f8",
        "tab": "de243966.edb1a8",
        "name": "time_since_press",
        "topic": "",
        "group": "חידה 1",
        "order": "20",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "x": 758,
        "y": 219,
        "wires": [
            [
                "10a5a3b2.386edc"
            ]
        ]
    },
    {
        "id": "10a5a3b2.386edc",
        "type": "rbe",
        "z": "8d01c84a.b2b6f8",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 972.5,
        "y": 210,
        "wires": [
            [
                "c6779dae.7c7ca"
            ]
        ]
    },
    {
        "id": "dfd04df5.5ebaa",
        "type": "rbe",
        "z": "8d01c84a.b2b6f8",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 978,
        "y": 131,
        "wires": [
            [
                "da53ea71.79a188"
            ]
        ]
    },
    {
        "id": "b317c97d.ab3da8",
        "type": "contrib-json",
        "z": "8d01c84a.b2b6f8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .timeout_value",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 517.5,
        "y": 135,
        "wires": [
            [
                "5924d25f.6742ac"
            ]
        ]
    },
    {
        "id": "cd808c95.c3f81",
        "type": "contrib-json",
        "z": "8d01c84a.b2b6f8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .time_since_press",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 524,
        "y": 227,
        "wires": [
            [
                "37a3c7e8.9dc178"
            ]
        ]
    },
    {
        "id": "349ca57b.aaff7a",
        "type": "http request",
        "z": "8d01c84a.b2b6f8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "x": 127,
        "y": 199,
        "wires": [
            [
                "693d799b.940e58"
            ]
        ]
    },
    {
        "id": "7bfdb0d8.f3341",
        "type": "http request",
        "z": "8d01c84a.b2b6f8",
        "name": "set timeout_value integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 1287,
        "y": 159,
        "wires": [
            [
                "693d799b.940e58"
            ]
        ]
    },
    {
        "id": "90023c43.6b1de",
        "type": "http request",
        "z": "8d01c84a.b2b6f8",
        "name": "set time_since_press integrated",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 1293,
        "y": 278,
        "wires": [
            [
                "693d799b.940e58"
            ]
        ]
    },
    {
        "id": "a8b95b31.8889a8",
        "type": "comment",
        "z": "8d01c84a.b2b6f8",
        "name": "Riddle 1: timeout button",
        "info": "",
        "x": 778.5,
        "y": 47,
        "wires": []
    },
    {
        "id": "c34c9a43.26dfe8",
        "type": "ui_button",
        "z": "8d01c84a.b2b6f8",
        "tab": "de243966.edb1a8",
        "name": "Reset Timer",
        "payload": "0",
        "topic": "",
        "group": "חידה 1",
        "order": "30",
        "x": 759.5,
        "y": 285,
        "wires": [
            [
                "c6779dae.7c7ca"
            ]
        ]
    },
    {
        "id": "aa6a080.c76f4f8",
        "type": "change",
        "z": "8d01c84a.b2b6f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "state_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 142.5,
        "y": 245,
        "wires": [
            [
                "349ca57b.aaff7a"
            ]
        ]
    },
    {
        "id": "da53ea71.79a188",
        "type": "change",
        "z": "8d01c84a.b2b6f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "timeout_value_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1143,
        "y": 87,
        "wires": [
            [
                "7bfdb0d8.f3341"
            ]
        ]
    },
    {
        "id": "c6779dae.7c7ca",
        "type": "change",
        "z": "8d01c84a.b2b6f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "time_since_press_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1167,
        "y": 216,
        "wires": [
            [
                "90023c43.6b1de"
            ]
        ]
    },
    {
        "id": "46420ad3.2e0ac4",
        "type": "switch",
        "z": "8d01c84a.b2b6f8",
        "name": "if-configured",
        "property": "configured",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 132.5,
        "y": 298,
        "wires": [
            [
                "aa6a080.c76f4f8"
            ]
        ]
    },
    {
        "id": "9ff5cbaa.72cd08",
        "type": "inject",
        "z": "8d01c84a.b2b6f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 114.5,
        "y": 362,
        "wires": [
            [
                "46420ad3.2e0ac4"
            ]
        ]
    },
    {
        "id": "25e84c64.935304",
        "type": "function",
        "z": "8d01c84a.b2b6f8",
        "name": "configure",
        "func": "global.get('riddlesEvents').on('added-'+msg.payload, \nfunction(baseUrl) {\n    flow.set('state_url', baseUrl + '/data');\n    flow.set('time_since_press_url', baseUrl + '/time_since_press');\n    flow.set('timeout_value_url', baseUrl + '/timeout_value');\n    flow.set('configured', true);\n});\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 179.5,
        "y": 87,
        "wires": [
            []
        ]
    },
    {
        "id": "693d799b.940e58",
        "type": "function",
        "z": "8d01c84a.b2b6f8",
        "name": "identity",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 347.5,
        "y": 181,
        "wires": [
            [
                "b317c97d.ab3da8",
                "cd808c95.c3f81"
            ]
        ]
    }
]