riddler-back-office/node-red/tabs/9e21335d.82775.json
[
    {
        "id": "9e21335d.82775",
        "type": "subflow",
        "name": "ECR subsystem",
        "info": "",
        "in": [
            {
                "x": 41.5,
                "y": 569,
                "wires": [
                    {
                        "id": "40a99dca.1f4f64"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "af089e6d.a4f5e",
        "type": "ui_text",
        "z": "9e21335d.82775",
        "tab": "692264eb.cffd6c",
        "name": "Repairing",
        "group": "shazam!",
        "order": "2",
        "format": "{{msg.payload}}",
        "x": 755,
        "y": 175,
        "wires": []
    },
    {
        "id": "90e09df1.5c2a7",
        "type": "ui_switch",
        "z": "9e21335d.82775",
        "tab": "692264eb.cffd6c",
        "name": "Damaged",
        "topic": "",
        "group": "shazam!",
        "order": "3",
        "onvalue": "true",
        "offvalue": "false",
        "x": 753,
        "y": 243,
        "wires": [
            [
                "8dab9bbc.391598"
            ]
        ]
    },
    {
        "id": "3c1869e0.811846",
        "type": "http request",
        "z": "9e21335d.82775",
        "name": "set system damage",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 860,
        "y": 419,
        "wires": [
            [
                "690930b1.2fd19"
            ]
        ]
    },
    {
        "id": "f1418395.56158",
        "type": "http request",
        "z": "9e21335d.82775",
        "name": "set system functional",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 453,
        "y": 405,
        "wires": [
            [
                "690930b1.2fd19"
            ]
        ]
    },
    {
        "id": "690930b1.2fd19",
        "type": "function",
        "z": "9e21335d.82775",
        "name": "demux state",
        "func": "\nreturn [\n        {payload:msg.payload.autoRepair},\n        {payload:msg.payload.damaged},\n        {payload:msg.payload.functional}\n    ];",
        "outputs": "3",
        "noerr": 0,
        "x": 520.5,
        "y": 234,
        "wires": [
            [
                "af089e6d.a4f5e"
            ],
            [
                "90e09df1.5c2a7"
            ],
            [
                "da5779ce.2a86f8"
            ]
        ]
    },
    {
        "id": "504c97d5.bcefb8",
        "type": "function",
        "z": "9e21335d.82775",
        "name": "configure",
        "func": "if (!flow.get('id')){\n    flow.set('id', msg.payload);\n    global.get('riddlesEvents').on('added-ECR', function(baseUrl) {\n        flow.set('state_url', baseUrl + '/' + msg.payload);\n        flow.set('damaged_url', baseUrl + '/' + msg.payload + '/damaged');\n        flow.set('functional_url', baseUrl + '/' + msg.payload + '/functional');\n        flow.set('configured', true);\n        node.send({payload:baseUrl});\n    });\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 519,
        "wires": [
            []
        ]
    },
    {
        "id": "17d65ca1.cbe193",
        "type": "ui_text",
        "z": "9e21335d.82775",
        "tab": "692264eb.cffd6c",
        "name": "Name",
        "group": "shazam!",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 370.5,
        "y": 552,
        "wires": []
    },
    {
        "id": "90099c37.1d359",
        "type": "http request",
        "z": "9e21335d.82775",
        "name": "get state of system",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "x": 201,
        "y": 140,
        "wires": [
            [
                "690930b1.2fd19"
            ]
        ]
    },
    {
        "id": "51a59173.1f22f",
        "type": "change",
        "z": "9e21335d.82775",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "state_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 191,
        "wires": [
            [
                "90099c37.1d359"
            ]
        ]
    },
    {
        "id": "5c2b12ae.c2cc0c",
        "type": "switch",
        "z": "9e21335d.82775",
        "name": "if-configured",
        "property": "configured",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 170,
        "y": 244,
        "wires": [
            [
                "51a59173.1f22f"
            ]
        ]
    },
    {
        "id": "50777216.6d99ec",
        "type": "inject",
        "z": "9e21335d.82775",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 152,
        "y": 308,
        "wires": [
            [
                "5c2b12ae.c2cc0c"
            ]
        ]
    },
    {
        "id": "d40c876e.b4f2d8",
        "type": "change",
        "z": "9e21335d.82775",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "damaged_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 939,
        "y": 343,
        "wires": [
            [
                "3c1869e0.811846"
            ]
        ]
    },
    {
        "id": "22644f13.225ba",
        "type": "change",
        "z": "9e21335d.82775",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "functional_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 231,
        "y": 401,
        "wires": [
            [
                "f1418395.56158"
            ]
        ]
    },
    {
        "id": "da5779ce.2a86f8",
        "type": "ui_text",
        "z": "9e21335d.82775",
        "tab": "692264eb.cffd6c",
        "name": "Functional",
        "group": "shazam!",
        "order": "4",
        "format": "{{msg.payload}}",
        "x": 763.5,
        "y": 299,
        "wires": []
    },
    {
        "id": "40a99dca.1f4f64",
        "type": "switch",
        "z": "9e21335d.82775",
        "name": "config or input",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "config",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 175.5,
        "y": 568,
        "wires": [
            [
                "504c97d5.bcefb8",
                "17d65ca1.cbe193"
            ],
            [
                "751439fa.3dd4b8"
            ]
        ]
    },
    {
        "id": "5e558b49.0463f4",
        "type": "switch",
        "z": "9e21335d.82775",
        "name": "if-configured",
        "property": "configured",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 224,
        "y": 440,
        "wires": [
            [
                "22644f13.225ba"
            ]
        ]
    },
    {
        "id": "8dab9bbc.391598",
        "type": "rbe",
        "z": "9e21335d.82775",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 970.5,
        "y": 278,
        "wires": [
            [
                "d40c876e.b4f2d8"
            ]
        ]
    },
    {
        "id": "d53f3ea8.551ab",
        "type": "rbe",
        "z": "9e21335d.82775",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 221.5,
        "y": 475,
        "wires": [
            [
                "5e558b49.0463f4"
            ]
        ]
    },
    {
        "id": "751439fa.3dd4b8",
        "type": "subflow:7dbbf841.470ad8",
        "z": "9e21335d.82775",
        "x": 185.5,
        "y": 508,
        "wires": [
            [
                "d53f3ea8.551ab"
            ]
        ]
    }
]