riddler-back-office/node-red/tabs/ab5df3e3.53db5.json
[
    {
        "id": "ab5df3e3.53db5",
        "type": "subflow",
        "name": "Riddle 3",
        "info": "",
        "in": [
            {
                "x": 54,
                "y": 70,
                "wires": [
                    {
                        "id": "81ce5f05.53b38"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 596,
                "y": 90,
                "wires": [
                    {
                        "id": "59ee1679.a11ec8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f33ab4fd.8d3f68",
        "type": "http request",
        "z": "ab5df3e3.53db5",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "x": 208,
        "y": 219,
        "wires": [
            [
                "59ee1679.a11ec8"
            ]
        ]
    },
    {
        "id": "8805ad01.2009c",
        "type": "contrib-json",
        "z": "ab5df3e3.53db5",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 787,
        "y": 118,
        "wires": [
            [
                "ea2e635b.da5e1"
            ]
        ]
    },
    {
        "id": "d2d9c2f2.6c2b5",
        "type": "contrib-json",
        "z": "ab5df3e3.53db5",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .good_led",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 779,
        "y": 194,
        "wires": [
            [
                "a9f92cbf.cc5b8"
            ]
        ]
    },
    {
        "id": "c04f4d51.85d13",
        "type": "contrib-json",
        "z": "ab5df3e3.53db5",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .current_led",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 784,
        "y": 268,
        "wires": [
            [
                "bb7ec0f2.02225"
            ]
        ]
    },
    {
        "id": "7155e588.86b95c",
        "type": "ui_button",
        "z": "ab5df3e3.53db5",
        "tab": "de243966.edb1a8",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 3",
        "order": 1,
        "x": 138,
        "y": 447,
        "wires": [
            [
                "79a9d224.94898c"
            ]
        ]
    },
    {
        "id": "91780020.0f81a",
        "type": "http request",
        "z": "ab5df3e3.53db5",
        "name": "set riddle_status: Start Riddle",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 621,
        "y": 447,
        "wires": [
            [
                "59ee1679.a11ec8"
            ]
        ]
    },
    {
        "id": "62964138.7f428",
        "type": "http request",
        "z": "ab5df3e3.53db5",
        "name": "set riddle_status: Fix Riddle",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "x": 610,
        "y": 512,
        "wires": [
            [
                "59ee1679.a11ec8"
            ]
        ]
    },
    {
        "id": "c48ebd0b.645d6",
        "type": "ui_button",
        "z": "ab5df3e3.53db5",
        "tab": "de243966.edb1a8",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 3",
        "order": 1,
        "x": 156,
        "y": 512,
        "wires": [
            [
                "4935bcc4.5a5ea4"
            ]
        ]
    },
    {
        "id": "bb7ec0f2.02225",
        "type": "ui_text",
        "z": "ab5df3e3.53db5",
        "tab": "de243966.edb1a8",
        "name": "Current LED",
        "group": "חידה 3",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 1013,
        "y": 270,
        "wires": []
    },
    {
        "id": "ea2e635b.da5e1",
        "type": "ui_text",
        "z": "ab5df3e3.53db5",
        "tab": "de243966.edb1a8",
        "name": "Status",
        "group": "חידה 3",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 972,
        "y": 54,
        "wires": []
    },
    {
        "id": "a9f92cbf.cc5b8",
        "type": "ui_text",
        "z": "ab5df3e3.53db5",
        "tab": "de243966.edb1a8",
        "name": "Good LED",
        "group": "חידה 3",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 992,
        "y": 150,
        "wires": []
    },
    {
        "id": "81ce5f05.53b38",
        "type": "function",
        "z": "ab5df3e3.53db5",
        "name": "configure",
        "func": "global.get('riddlesEvents').on('added-'+msg.payload, \nfunction(baseUrl) {\n    flow.set('state_url', baseUrl + '/data');\n    flow.set('set_start', baseUrl + '/set_start');\n    flow.set('fix_riddle_manually', baseUrl + '/fix_riddle_manually');\n    flow.set('configured', true);\n});\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 196,
        "y": 69,
        "wires": [
            []
        ]
    },
    {
        "id": "3e5d07ba.ca7508",
        "type": "change",
        "z": "ab5df3e3.53db5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "state_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 167,
        "y": 270,
        "wires": [
            [
                "f33ab4fd.8d3f68"
            ]
        ]
    },
    {
        "id": "b26b514a.36d05",
        "type": "switch",
        "z": "ab5df3e3.53db5",
        "name": "if-configured",
        "property": "configured",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 157,
        "y": 323,
        "wires": [
            [
                "3e5d07ba.ca7508"
            ]
        ]
    },
    {
        "id": "53fb53c1.6ada6c",
        "type": "inject",
        "z": "ab5df3e3.53db5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 139,
        "y": 387,
        "wires": [
            [
                "b26b514a.36d05"
            ]
        ]
    },
    {
        "id": "79a9d224.94898c",
        "type": "change",
        "z": "ab5df3e3.53db5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "set_start",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 448,
        "wires": [
            [
                "91780020.0f81a"
            ]
        ]
    },
    {
        "id": "4935bcc4.5a5ea4",
        "type": "change",
        "z": "ab5df3e3.53db5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "fix_riddle_manually",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 354,
        "y": 512,
        "wires": [
            [
                "62964138.7f428"
            ]
        ]
    },
    {
        "id": "59ee1679.a11ec8",
        "type": "function",
        "z": "ab5df3e3.53db5",
        "name": "identity",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 478.5,
        "y": 219,
        "wires": [
            [
                "8805ad01.2009c",
                "d2d9c2f2.6c2b5",
                "c04f4d51.85d13"
            ]
        ]
    }
]