riddler-back-office/node-red/tabs/fcbf68e3.f66ab8.json
[
    {
        "type": "tab",
        "id": "fcbf68e3.f66ab8",
        "label": "Riddle2"
    },
    {
        "id": "5eb81702.6ee948",
        "type": "ui_tab",
        "z": "fcbf68e3.f66ab8",
        "name": "Riddle2",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "d733f414.dedbf8",
        "type": "inject",
        "z": "fcbf68e3.f66ab8",
        "name": "tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 103,
        "y": 70,
        "wires": [
            [
                "a76ea1a8.b9fee",
                "7197ca0a.3f09c4",
                "8e062beb.978b58",
                "a3618b15.bd6278"
            ]
        ]
    },
    {
        "id": "a76ea1a8.b9fee",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.0_get_url)",
        "x": 398,
        "y": 146,
        "wires": [
            [
                "9fd22195.ae6e2"
            ]
        ]
    },
    {
        "id": "9fcfad0c.a2b91",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.0",
        "order": 1,
        "x": 323,
        "y": 246,
        "wires": [
            [
                "8aa29757.728a58"
            ]
        ]
    },
    {
        "id": "8aa29757.728a58",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.0_start_riddle)",
        "x": 608,
        "y": 246,
        "wires": [
            []
        ]
    },
    {
        "id": "d09b50f6.35fe8",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.0",
        "order": "3",
        "x": 859,
        "y": 146,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd22195.ae6e2",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 633,
        "y": 146,
        "wires": [
            [
                "d09b50f6.35fe8"
            ]
        ]
    },
    {
        "id": "19d8b9bb.310436",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.0_fix_riddle)",
        "x": 587,
        "y": 311,
        "wires": [
            []
        ]
    },
    {
        "id": "411aa79d.a62318",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.0",
        "order": 1,
        "x": 341,
        "y": 311,
        "wires": [
            [
                "19d8b9bb.310436"
            ]
        ]
    },
    {
        "id": "7197ca0a.3f09c4",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.1_get_url)",
        "x": 405,
        "y": 413,
        "wires": [
            [
                "fcf75432.07b258"
            ]
        ]
    },
    {
        "id": "f9b3dedd.6d075",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.1",
        "order": 1,
        "x": 330,
        "y": 513,
        "wires": [
            [
                "8d5da4aa.d11e38"
            ]
        ]
    },
    {
        "id": "8d5da4aa.d11e38",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.1_start_riddle)",
        "x": 615,
        "y": 513,
        "wires": [
            []
        ]
    },
    {
        "id": "1f6830a7.0b4eff",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.1",
        "order": "3",
        "x": 866,
        "y": 413,
        "wires": [
            []
        ]
    },
    {
        "id": "fcf75432.07b258",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 640,
        "y": 413,
        "wires": [
            [
                "1f6830a7.0b4eff"
            ]
        ]
    },
    {
        "id": "9221308e.43233",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.1_fix_riddle)",
        "x": 594,
        "y": 578,
        "wires": [
            []
        ]
    },
    {
        "id": "5950d90c.271778",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.1",
        "order": 1,
        "x": 348,
        "y": 578,
        "wires": [
            [
                "9221308e.43233"
            ]
        ]
    },
    {
        "id": "8e062beb.978b58",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.2_get_url)",
        "x": 412,
        "y": 663,
        "wires": [
            [
                "edfd9a33.a81678"
            ]
        ]
    },
    {
        "id": "b2a72374.11863",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.2",
        "order": 1,
        "x": 337,
        "y": 763,
        "wires": [
            [
                "a34b8ec.b73d07"
            ]
        ]
    },
    {
        "id": "a34b8ec.b73d07",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.2_start_riddle)",
        "x": 622,
        "y": 763,
        "wires": [
            []
        ]
    },
    {
        "id": "8e89d0d4.7ab34",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.2",
        "order": "3",
        "x": 873,
        "y": 663,
        "wires": [
            []
        ]
    },
    {
        "id": "edfd9a33.a81678",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 647,
        "y": 663,
        "wires": [
            [
                "8e89d0d4.7ab34"
            ]
        ]
    },
    {
        "id": "cb5b551f.39a838",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.2_fix_riddle)",
        "x": 601,
        "y": 828,
        "wires": [
            []
        ]
    },
    {
        "id": "8d8fcd.e550703",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.2",
        "order": 1,
        "x": 355,
        "y": 828,
        "wires": [
            [
                "cb5b551f.39a838"
            ]
        ]
    },
    {
        "id": "a3618b15.bd6278",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.3_get_url)",
        "x": 418,
        "y": 923,
        "wires": [
            [
                "d8e7b16b.00774"
            ]
        ]
    },
    {
        "id": "820ace2e.b117",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.3",
        "order": 1,
        "x": 343,
        "y": 1023,
        "wires": [
            [
                "5e825af3.2ad1c4"
            ]
        ]
    },
    {
        "id": "5e825af3.2ad1c4",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.3_start_riddle)",
        "x": 628,
        "y": 1023,
        "wires": [
            []
        ]
    },
    {
        "id": "d094c6ba.94b438",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.3",
        "order": "3",
        "x": 879,
        "y": 923,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e7b16b.00774",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 653,
        "y": 923,
        "wires": [
            [
                "d094c6ba.94b438"
            ]
        ]
    },
    {
        "id": "6c912d07.1831b4",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.3_fix_riddle)",
        "x": 607,
        "y": 1088,
        "wires": [
            []
        ]
    },
    {
        "id": "dc08179a.33b768",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.3",
        "order": 1,
        "x": 361,
        "y": 1088,
        "wires": [
            [
                "6c912d07.1831b4"
            ]
        ]
    }
]