riddler-back-office/node-red/flows.json
[
    {
        "type": "tab",
        "id": "385b4489.4b962c",
        "label": "Riddle1"
    },
    {
        "type": "tab",
        "id": "fcbf68e3.f66ab8",
        "label": "Riddle2"
    },
    {
        "type": "tab",
        "id": "8a0884d3.9de888",
        "label": "Riddle 3"
    },
    {
        "type": "tab",
        "id": "dfb80b8c.6b0c38",
        "label": "Flow 2"
    },
    {
        "id": "bf128263.2b011",
        "type": "ui_tab",
        "z": "385b4489.4b962c",
        "name": "Riddle 1",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "5eb81702.6ee948",
        "type": "ui_tab",
        "z": "fcbf68e3.f66ab8",
        "name": "Riddle2",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "3f6201c7.f2f2fe",
        "type": "ui_tab",
        "z": "8a0884d3.9de888",
        "name": "Riddle 3",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "c6ab67d6.00af38",
        "type": "inject",
        "z": "385b4489.4b962c",
        "name": "tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 151,
        "y": 46,
        "wires": [
            []
        ]
    },
    {
        "id": "5924d25f.6742ac",
        "type": "ui_numeric",
        "z": "385b4489.4b962c",
        "tab": "bf128263.2b011",
        "name": "timeout_value",
        "topic": "",
        "group": "חידה 1",
        "order": "10",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "x": 618.5,
        "y": 126,
        "wires": [
            [
                "dfd04df5.5ebaa"
            ]
        ]
    },
    {
        "id": "37a3c7e8.9dc178",
        "type": "ui_numeric",
        "z": "385b4489.4b962c",
        "tab": "bf128263.2b011",
        "name": "time_since_press",
        "topic": "",
        "group": "חידה 1",
        "order": "20",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "x": 618,
        "y": 212,
        "wires": [
            [
                "10a5a3b2.386edc"
            ]
        ]
    },
    {
        "id": "10a5a3b2.386edc",
        "type": "rbe",
        "z": "385b4489.4b962c",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 844.5,
        "y": 209,
        "wires": [
            [
                "90023c43.6b1de"
            ]
        ]
    },
    {
        "id": "dfd04df5.5ebaa",
        "type": "rbe",
        "z": "385b4489.4b962c",
        "name": "changes only",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 838,
        "y": 124,
        "wires": [
            [
                "7bfdb0d8.f3341"
            ]
        ]
    },
    {
        "id": "b317c97d.ab3da8",
        "type": "contrib-json",
        "z": "385b4489.4b962c",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .timeout_value",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 365.5,
        "y": 163,
        "wires": [
            [
                "5924d25f.6742ac"
            ]
        ]
    },
    {
        "id": "cd808c95.c3f81",
        "type": "contrib-json",
        "z": "385b4489.4b962c",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .time_since_press",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 362,
        "y": 234,
        "wires": [
            [
                "37a3c7e8.9dc178"
            ]
        ]
    },
    {
        "id": "349ca57b.aaff7a",
        "type": "http request",
        "z": "385b4489.4b962c",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle1_get_url)",
        "x": 117,
        "y": 179,
        "wires": [
            [
                "cd808c95.c3f81",
                "b317c97d.ab3da8"
            ]
        ]
    },
    {
        "id": "7bfdb0d8.f3341",
        "type": "http request",
        "z": "385b4489.4b962c",
        "name": "set timeout_value integrated",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle1_set_timeout_value_url)",
        "x": 1126,
        "y": 112,
        "wires": [
            []
        ]
    },
    {
        "id": "90023c43.6b1de",
        "type": "http request",
        "z": "385b4489.4b962c",
        "name": "set time_since_press integrated",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle1_set_time_since_press_url)",
        "x": 1119,
        "y": 208,
        "wires": [
            []
        ]
    },
    {
        "id": "a8b95b31.8889a8",
        "type": "comment",
        "z": "385b4489.4b962c",
        "name": "Riddle 1: timeout button",
        "info": "",
        "x": 638.5,
        "y": 40,
        "wires": []
    },
    {
        "id": "c34c9a43.26dfe8",
        "type": "ui_button",
        "z": "385b4489.4b962c",
        "tab": "bf128263.2b011",
        "name": "Reset Timer",
        "payload": "0",
        "topic": "",
        "group": "חידה 1",
        "order": "30",
        "x": 618.5,
        "y": 288,
        "wires": [
            [
                "90023c43.6b1de"
            ]
        ]
    },
    {
        "id": "d733f414.dedbf8",
        "type": "inject",
        "z": "fcbf68e3.f66ab8",
        "name": "tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 103,
        "y": 70,
        "wires": [
            [
                "a76ea1a8.b9fee",
                "7197ca0a.3f09c4",
                "8e062beb.978b58",
                "a3618b15.bd6278"
            ]
        ]
    },
    {
        "id": "a76ea1a8.b9fee",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.0_get_url)",
        "x": 398,
        "y": 146,
        "wires": [
            [
                "9fd22195.ae6e2"
            ]
        ]
    },
    {
        "id": "9fcfad0c.a2b91",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.0",
        "order": 1,
        "x": 323,
        "y": 246,
        "wires": [
            [
                "8aa29757.728a58"
            ]
        ]
    },
    {
        "id": "8aa29757.728a58",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.0_start_riddle)",
        "x": 608,
        "y": 246,
        "wires": [
            []
        ]
    },
    {
        "id": "d09b50f6.35fe8",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.0",
        "order": "3",
        "x": 859,
        "y": 146,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd22195.ae6e2",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 633,
        "y": 146,
        "wires": [
            [
                "d09b50f6.35fe8"
            ]
        ]
    },
    {
        "id": "f64749dc.f7c568",
        "type": "inject",
        "z": "8a0884d3.9de888",
        "name": "tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 112,
        "y": 103,
        "wires": [
            []
        ]
    },
    {
        "id": "f33ab4fd.8d3f68",
        "type": "http request",
        "z": "8a0884d3.9de888",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle3_get_url)",
        "x": 258,
        "y": 222,
        "wires": [
            [
                "8805ad01.2009c",
                "3ba3135.ca634ec",
                "d2d9c2f2.6c2b5",
                "c04f4d51.85d13"
            ]
        ]
    },
    {
        "id": "3ba3135.ca634ec",
        "type": "debug",
        "z": "8a0884d3.9de888",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 496,
        "y": 79,
        "wires": []
    },
    {
        "id": "8805ad01.2009c",
        "type": "contrib-json",
        "z": "8a0884d3.9de888",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 540,
        "y": 155,
        "wires": [
            [
                "ea2e635b.da5e1"
            ]
        ]
    },
    {
        "id": "d2d9c2f2.6c2b5",
        "type": "contrib-json",
        "z": "8a0884d3.9de888",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .good_led",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 532,
        "y": 231,
        "wires": [
            [
                "a9f92cbf.cc5b8"
            ]
        ]
    },
    {
        "id": "c04f4d51.85d13",
        "type": "contrib-json",
        "z": "8a0884d3.9de888",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .current_led",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 537,
        "y": 305,
        "wires": [
            [
                "bb7ec0f2.02225"
            ]
        ]
    },
    {
        "id": "7155e588.86b95c",
        "type": "ui_button",
        "z": "8a0884d3.9de888",
        "tab": "3f6201c7.f2f2fe",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 3",
        "order": 1,
        "x": 115,
        "y": 392,
        "wires": [
            [
                "91780020.0f81a"
            ]
        ]
    },
    {
        "id": "91780020.0f81a",
        "type": "http request",
        "z": "8a0884d3.9de888",
        "name": "set riddle_status: Start Riddle",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle3_start_riddle)",
        "x": 400,
        "y": 392,
        "wires": [
            []
        ]
    },
    {
        "id": "62964138.7f428",
        "type": "http request",
        "z": "8a0884d3.9de888",
        "name": "set riddle_status: Fix Riddle",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle3_fix_riddle)",
        "x": 389,
        "y": 457,
        "wires": [
            []
        ]
    },
    {
        "id": "c48ebd0b.645d6",
        "type": "ui_button",
        "z": "8a0884d3.9de888",
        "tab": "3f6201c7.f2f2fe",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 3",
        "order": 1,
        "x": 133,
        "y": 457,
        "wires": [
            [
                "62964138.7f428"
            ]
        ]
    },
    {
        "id": "bb7ec0f2.02225",
        "type": "ui_text",
        "z": "8a0884d3.9de888",
        "tab": "3f6201c7.f2f2fe",
        "name": "Current LED",
        "group": "חידה 3",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 766,
        "y": 307,
        "wires": []
    },
    {
        "id": "ea2e635b.da5e1",
        "type": "ui_text",
        "z": "8a0884d3.9de888",
        "tab": "3f6201c7.f2f2fe",
        "name": "Status",
        "group": "חידה 3",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 725,
        "y": 91,
        "wires": []
    },
    {
        "id": "a9f92cbf.cc5b8",
        "type": "ui_text",
        "z": "8a0884d3.9de888",
        "tab": "3f6201c7.f2f2fe",
        "name": "Good LED",
        "group": "חידה 3",
        "order": 1,
        "format": "{{msg.payload}}",
        "x": 745,
        "y": 187,
        "wires": []
    },
    {
        "id": "19d8b9bb.310436",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.0_fix_riddle)",
        "x": 587,
        "y": 311,
        "wires": [
            []
        ]
    },
    {
        "id": "411aa79d.a62318",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.0",
        "order": 1,
        "x": 341,
        "y": 311,
        "wires": [
            [
                "19d8b9bb.310436"
            ]
        ]
    },
    {
        "id": "7197ca0a.3f09c4",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.1_get_url)",
        "x": 405,
        "y": 413,
        "wires": [
            [
                "fcf75432.07b258"
            ]
        ]
    },
    {
        "id": "f9b3dedd.6d075",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.1",
        "order": 1,
        "x": 330,
        "y": 513,
        "wires": [
            [
                "8d5da4aa.d11e38"
            ]
        ]
    },
    {
        "id": "8d5da4aa.d11e38",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.1_start_riddle)",
        "x": 615,
        "y": 513,
        "wires": [
            []
        ]
    },
    {
        "id": "1f6830a7.0b4eff",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.1",
        "order": "3",
        "x": 866,
        "y": 413,
        "wires": [
            []
        ]
    },
    {
        "id": "fcf75432.07b258",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 640,
        "y": 413,
        "wires": [
            [
                "1f6830a7.0b4eff"
            ]
        ]
    },
    {
        "id": "9221308e.43233",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.1_fix_riddle)",
        "x": 594,
        "y": 578,
        "wires": [
            []
        ]
    },
    {
        "id": "5950d90c.271778",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.1",
        "order": 1,
        "x": 348,
        "y": 578,
        "wires": [
            [
                "9221308e.43233"
            ]
        ]
    },
    {
        "id": "8e062beb.978b58",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.2_get_url)",
        "x": 412,
        "y": 663,
        "wires": [
            [
                "edfd9a33.a81678"
            ]
        ]
    },
    {
        "id": "b2a72374.11863",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.2",
        "order": 1,
        "x": 337,
        "y": 763,
        "wires": [
            [
                "a34b8ec.b73d07"
            ]
        ]
    },
    {
        "id": "a34b8ec.b73d07",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.2_start_riddle)",
        "x": 622,
        "y": 763,
        "wires": [
            []
        ]
    },
    {
        "id": "8e89d0d4.7ab34",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.2",
        "order": "3",
        "x": 873,
        "y": 663,
        "wires": [
            []
        ]
    },
    {
        "id": "edfd9a33.a81678",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 647,
        "y": 663,
        "wires": [
            [
                "8e89d0d4.7ab34"
            ]
        ]
    },
    {
        "id": "cb5b551f.39a838",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.2_fix_riddle)",
        "x": 601,
        "y": 828,
        "wires": [
            []
        ]
    },
    {
        "id": "8d8fcd.e550703",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.2",
        "order": 1,
        "x": 355,
        "y": 828,
        "wires": [
            [
                "cb5b551f.39a838"
            ]
        ]
    },
    {
        "id": "a3618b15.bd6278",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "get data from integration",
        "method": "GET",
        "ret": "obj",
        "url": "$(riddle2.3_get_url)",
        "x": 418,
        "y": 923,
        "wires": [
            [
                "d8e7b16b.00774"
            ]
        ]
    },
    {
        "id": "820ace2e.b117",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Start Riddle",
        "payload": "",
        "topic": "",
        "group": "חידה 2.3",
        "order": 1,
        "x": 343,
        "y": 1023,
        "wires": [
            [
                "5e825af3.2ad1c4"
            ]
        ]
    },
    {
        "id": "5e825af3.2ad1c4",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: BOTH_BAD",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.3_start_riddle)",
        "x": 628,
        "y": 1023,
        "wires": [
            []
        ]
    },
    {
        "id": "d094c6ba.94b438",
        "type": "ui_text_input",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "mode": "text",
        "delay": 300,
        "name": "Status",
        "topic": "",
        "group": "חידה 2.3",
        "order": "3",
        "x": 879,
        "y": 923,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e7b16b.00774",
        "type": "contrib-json",
        "z": "fcbf68e3.f66ab8",
        "engine": "JSONSelect",
        "command": "jq",
        "expr": ":root > .status",
        "complete": "property",
        "prop": "payload",
        "name": "",
        "x": 653,
        "y": 923,
        "wires": [
            [
                "d094c6ba.94b438"
            ]
        ]
    },
    {
        "id": "6c912d07.1831b4",
        "type": "http request",
        "z": "fcbf68e3.f66ab8",
        "name": "set riddle_status: START",
        "method": "POST",
        "ret": "txt",
        "url": "$(riddle2.3_fix_riddle)",
        "x": 607,
        "y": 1088,
        "wires": [
            []
        ]
    },
    {
        "id": "dc08179a.33b768",
        "type": "ui_button",
        "z": "fcbf68e3.f66ab8",
        "tab": "5eb81702.6ee948",
        "name": "Fix Riddle Manually",
        "payload": "",
        "topic": "",
        "group": "חידה 2.3",
        "order": 1,
        "x": 361,
        "y": 1088,
        "wires": [
            [
                "6c912d07.1831b4"
            ]
        ]
    }
]